recent-windows {
	highlight {
		active-color "#592720ff"
		urgent-color "#ff0000ff"
	}
}

overview {
	workspace-shadow {
		color "#00000050"
	}
}

layout {
	focus-ring {
		active-color "#ffffff"
		inactive-color "#000000"

		// active-gradient from="#592720" to="ff0000" angle=45
		// inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
	}

	border {
		active-color "ffffff"
		inactive-color "#000000"
		urgent-color "#ff0000"

		// active-gradient from="#e5989b" to="#ffb4a2" angle=45 relative-to="workspace-view" in="oklch longer hue"
		// inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    	}

	shadow {
		color "#0008"
	}

	tab-indicator {
		active-color "#ffffff"
		inactive-color "#592720"
		urgent-color "#ff0000"
	}

	insert-hint {
		color "#ff592720"
	}
}
