layout {
	gaps 18
	background-color "transparent"

	// never / always / on-overflow
	center-focused-column "never"

	preset-column-widths {
		proportion 0.333
		proportion 0.5
		proportion 0.666
	}

	default-column-width { proportion 0.5; }

	focus-ring {
		on
		width 2
	}

	border {
		off
		width 4
	}

	shadow {
		on

		draw-behind-window false
		softness 0
		spread 3
		offset x=6 y=6
	}

	tab-indicator {
		on
		place-within-column
		gap 12
		width 12
		length total-proportion=1.0
		position "right"
		gaps-between-tabs 12
		corner-radius 0
	}

	insert-hint {
		on
	}

	struts {
		left 60
		right 60
		top 60
		bottom 60
	}
}
