//            ░██         ░██
//                           
// ░████████  ░██░██░████ ░██
// ░██    ░██ ░██░███     ░██
// ░██    ░██ ░██░██      ░██
// ░██    ░██ ░██░██      ░██
// ░██    ░██ ░██░██      ░██

include "config.d/hardware.kdl"
include "config.d/layout.kdl"
include "config.d/startup.kdl"
include "config.d/misc.kdl"
include "config.d/animations.kdl"
include "config.d/windows.kdl"
include "config.d/colors.kdl"

include "config.d/binds/keyboard.kdl"
include "config.d/binds/mouse.kdl"
include "config.d/binds/macropad.kdl"
